[submodule "pack/bundle/opt/nvim-dap"]
	path = pack/bundle/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "pack/bundle/opt/nvim-dap-ui"]
	path = pack/bundle/opt/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
